<%= form_for public_index_course_path do |f| %>
  <div class="form-group">
    <%= label_tag :course_id %>
    <%= select_tag :course_id, options_from_collection_for_select(@cursos, :id, :name), include_blank: "Selecione um curso", class: 'form-control' %>
  </div>
    <%= submit_tag 'Próximo', class: 'btn btn-primary' %>

<% end %>
