<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Curso</li>
      <li class="list-group-item"><%= @course.name %></li>
      <li class="list-group-item list-group-item-success">Disciplina</li>
      <li class="list-group-item"><%= @discipline.title %></li>
      <li class="list-group-item list-group-item-success">Gerar PDF</li>
      <li class="list-group-item"><%= @plans.last.decorate.link_pdf %></li>
    </ul>
  </div>
</div>
