<%= render 'meus_planos' %>
<%= render 'planos_aprovar_status' %>

<!-- <div class="row"> -->
  <!-- <= render 'plans/professor_planos' %> -->
<!-- </div> -->

<!-- <div class="row">
    <div class="col-lg-12 text-center">
        <h1>Página inicial</h1>
        <ul class="list-unstyled">
            <li><= t 'app_name' %></li>
        </ul>

    </div>
</div>

<div class="row">
  <= show_profile_image %>
</div> -->
