<% if user_signed_in? %>
  <div class="row">

    <div class="col-md-8">
      <%= render 'visitors/pesquisar/form' %>
    </div>
    
    <div class="col-md-4">
      <%= render 'meus_planos' %>
      <%= render 'planos_aprovar_status' %>
    </div>
  </div>
<% end %>
