<%= render 'plans/publico/form' %>
<hr>
<% if @planos.nil? || @planos.empty? %>

  <p>Nenhuma componente curricular encontrado para o curso selecionado.</p>

<% else %>

  <ul class="list-group">
    <li class="list-group-item list-group-item-success">Curso</li>
    <li class="list-group-item"><%= @course.name %></li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Componente curriculars</h3>
    </div>
    <div class="panel-body">
      <% @planos.each do |plano| %>
        <ul class="list-group col-md-4">
          <li class="list-group-item list-group-item-info"><%= plano.offer_discipline.grid_discipline.discipline.title %></li>
          <li class="list-group-item"><%= plano.decorate.link_pdf %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
