<%= form_for(user, remote:true) do |f| %>
  <div class="input-group">
    <%= f.select(:perfil_ids, Perfil.all.collect {|a| [a.name, a.id]}, {}, class: "select2 form-control", :multiple => true) %>
    <div class="input-group-btn">
      <%= f.submit :class => 'btn btn-primary btn-sm' %>
    </div>
  </div>
<% end %>
