<%- model = Grid_discipline %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t('helpers.titles.new', model: model) %>
    </h3>
  </div>
  <div class="panel-body">
    <%= render 'form', grid_discipline: @grid_discipline %>
  </div>
  <div class="panel-footer">
    <%= link_to t('helpers.links.back'), grid_disciplines_path %>
  </div>
</div>
