<ol class="breadcrumb">
  <li>Step 1</li>
  <li>Step 2</li>
  <li>Step 3</li>
  <li class='active'>Step 4</li>
</ol>

<p>Grade: <%= @offer_wizard.grid_id unless @offer_wizard.nil? %></p>
<p>Ano: <%= @offer_wizard.grid_year unless @offer_wizard.nil? %></p>
<p>Semestre: <%= @offer_wizard.grid_semestre unless @offer_wizard.nil? %></p>
