<%= content_for :title, 'Plano de ensino pendente' %>

<h4>Plano de ensino pendente. Por favor, finalize o preenchimento.</h4>

<h3>
  <%= link_to "Mais detalhes", offer_offer_discipline_plans_url(
      :offer_id => @offer_discipline.offer_id,
      :offer_discipline_id => @offer_discipline.id) %>
</h3>

<hr>
