<div class="page-header">
  <%= link_to perfils_path, class: 'btn btn-default' do %>
    <i class='fa fa-list fa-2'></i>
    Back
  <% end %>
  <%= link_to edit_perfil_path(@perfil), class: 'btn btn-primary' do %>
    <i class='fa fa-pencil-square-o fa-2'></i>
    Edit
  <% end %>
  <h1>Show perfil</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @perfil.name %></dd>

  <dt>Ativo:</dt>
  <dd><%= @perfil.idativo %></dd>

</dl>
