<h3>Titulo da página</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Minutos/Aula</th>
    </tr>
  </thead>
  <tbody>
    <% 50.times do %>
      <tr>
        <td><%= @course_format.name %></td>
        <td><%= @course_format.minutos_aula %></td>
      </tr>
    <% end %>
  </tbody>
</table>
