<%%- model = <%= singular_table_name.camelize %> %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%%= t('helpers.titles.new', model: model) %>
    </h3>
  </div>
  <div class="panel-body">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
  <div class="panel-footer">
    <%%= link_to t('helpers.links.back'), <%= plural_table_name %>_path %>
  </div>
</div>
