<div class="row">
  <% if @grid_disciplines %>
    <% grupos = @grid_disciplines.in_groups_of(5, false) %>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">Componentes curriculares da grade</li>
    </ul>
    <% grupos.each do |grupo| %>
      <div class="col-md-3">
        <ul class="list-group">
          <!-- <li class="list-group-item list-group-item-success">Componente curricular da grade</li> -->
          <% grupo.each do |g| %>
            <li class="list-group-item">
              <%= g.discipline.title %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% else %>
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        Nenhuma componente curricular encontrado
      </div>
    </div>
  <% end %>

</div>
