<% if @grid_disciplines %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">Disciplinas da grade:</li>
    <% @grid_disciplines.each do |g| %>
      <li class="list-group-item">
        <%= "#{g.year}.#{g.semestre} #{g.discipline.title}" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma disciplina encontrada</p>
<% end %>
