// import the CSS framework
// @import "bootstrap-sprockets";
// @import "bootstrap";


 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";
 // Import cerulean variables
 @import "bootswatch/flatly/variables";
 // Then bootstrap itself
 @import "bootstrap";
 // And finally bootswatch style itself
 @import "bootswatch/flatly/bootswatch";
 // Whatever application styles you have go last
 // @import "base";

@import "font-awesome-sprockets";
@import "font-awesome";


// INICIO das configurações
body {
  background-color: #f5f5f5;
  font-size: 13px;
}

// make all images responsive by default
// img {
//   @extend .img-responsive;
//   margin: 0 auto;
//   }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  padding: 4.5px 5px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  padding-top: 20px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

// Ajusta a imagem do avatar no componente navbar
.special-img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}

.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}

// Permite adicionar um divisor vertical no componente navbar
@media(min-width:768px) {
  .divider-vertical {
    margin-top: 5px;
    height: 50px;
    border-left: 1px solid #F2F2F2;
    // border-right: 0.5px solid #FFF;
  }
}


// Font Awesome
.fa-2 {
  font-size: 1.5em;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 34px;
  // background-color: $brand-primary;

  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

footer.page-footer .container {
  margin: 5px auto;
}

footer.page-footer p {
  margin: 5px 10px;
}


.select2 {
  width: 100% !important;
}

.border {
  border: 1px solid;
}

.border .border-primary {
  border-color: $brand-primary;
}
