// import the CSS framework
// @import "bootstrap-sprockets";
// @import "bootstrap";


 //Import bootstrap-sprockets
 @import "bootstrap-sprockets";
 // Import cerulean variables
 @import "bootswatch/variaveis_custom";
 @import "bootswatch/flatly/variables";
  // Then bootstrap itself
 @import "bootstrap";
 // And finally bootswatch style itself
 @import "bootswatch/flatly/bootswatch";
 // Whatever application styles you have go last
 // @import "base";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "summernote";

// body.bg {
//   background-image: image-url("bg-3.jpg");
//   height: 100%;
//   position: relative;
//   // opacity: 0.8;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

body.bg {
  background: image-url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.95;
}

.navbar-brand {
  font-size: inherit;
  padding: 4.5px 5px;
}

@media (min-width: 767px) {
  .nav > li > a {
    padding: 10px 7px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}

.navbar-inverse {
  // filter: none;
  background-color: $brand-primary;
  background-image: linear-gradient(to bottom,$brand-primary,$brand-primary);
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  padding-top: 20px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
.alert {
  padding: 5px 35px 5px 5px;
  margin-bottom: 5px;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
.help-block {
  color: $brand-primary;
}

// Ajusta a imagem do avatar no componente navbar
.special-img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}

.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}

// Permite adicionar um divisor vertical no componente navbar
@media(min-width:768px) {
  .divider-vertical {
    margin-top: 5px;
    height: 50px;
    border-left: 1px solid #F2F2F2;
    // border-right: 0.5px solid #FFF;
  }
}


// Font Awesome
.fa-2 {
  font-size: 1.5em;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 34px;
  // background-color: $brand-primary;

  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

footer.page-footer .container {
  margin: 5px auto;
}

footer.page-footer p {
  margin: 5px 10px;
}

.border {
  border: 1px solid;
  padding-top: 10px;
}

.border .border-primary {
  border-color: $brand-primary;
}

.panel {
  margin-bottom: 10px;
}

.panel-heading a[role="button"]:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a[role="button"].collapsed:after {
    content:"\e080";
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


// Table
table tbody tr td.text-middle {
  vertical-align:middle;
}

// Quando alguma DIV precisa ficar fixa no fundo ao fazer scroll na página
.fixed-on-scroll.stuck, .fixed-on-scroll.well.stuck {
    position:fixed;
    bottom:5px;
    padding: 5px;
    left: 0px;
    width: 100%;
    z-index: 1; //posição do elemento, ou seja, acima dos outros

    @extend .bg-primary
}

div.fixed-on-bottom {
  position:fixed;
  bottom:0px;
  left: 0;
  width: 100%;
  // padding: 20px 10px 20px 10px;
  padding: 12px;
  margin: 0px;
  z-index: 1; //posição do elemento, ou seja, acima dos outros

  @extend .well;
  // @extend .well-sm;
}

.select2 {
  width: 100% !important;
}

.form-control {
  color: #444;
}

.form-control, .select2-container--bootstrap .select2-selection--single {
  @extend .form-control;
  height: 35px;
  line-height: 1.428571429;
  padding: 5px 5px 5px 10px;
}

// Multiselect gem
.ms-container {
  width: 100%;
}

label.required:after {
  content:" *";
}

.label.label-block {
  display: block;
}

.img-center {
	margin: 0 auto;
}

.well {
  margin-bottom: 5px;
}

.well-sm {
  padding: 2px;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
  padding: 2px 15px;
}

.panel-body {
  padding: 10px 5px;
}

.btn-search {
  border-radius: 4px;
}

.btn-pdf {
  @extend .btn-danger;
  background-color: #ba3a0b;
  border-color: darken(#ba3a0b, 5%);
  color: #fff;
}

.input-group-addon {
  padding: 0px 15px;
}
