// Customizando o componente datatables
 @import "bootswatch/variaveis_custom";

 div.table-responsive {
   background-color: #fff;
   padding: 5px;
   font-size: $table-font-size-base;
 }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}

.pagination > li > a, .pagination > li > span {
  padding: 5px 15px !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after {
  bottom: 0px;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  background-color: $brand-success;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 2px;
  vertical-align: inherit;
}

div.dataTables_wrapper div.dataTables_length select {
  height: 30px;
}

.input-sm, .input-group-sm > .form-control, .select2-container--bootstrap .input-group-sm > .select2-selection--single, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-sm > .input-group-btn > .submit, .authform .input-group-sm > .input-group-btn > .button, .input-group-sm > .input-group-btn > .button-xs {
  padding: 2px 9px;
  height: 30px;
}
