// Customizando o componente datatables
 @import "bootswatch/variaveis_custom";

 div.table-responsive {
   background-color: #fff;
   padding: 5px;
   font-size: $table-font-size-base;
 }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}

.pagination > li > a, .pagination > li > span {
  padding: 5px 15px !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  background-color: $brand-success;
}
