$email-background: #EDEDED;
$email-header-bg: #159d82;

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #2C3E50;
}

#email-wrapper {
  background: $email-background;
  padding-top: 1px;
  padding-bottom: 1px;

  #header {
    background: $email-header-bg;
    margin: 30px 30px 0px 30px;
    padding: 5px 30px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    color: #f5f5f5;

    .logo {
      width: 40px;
      height: auto;
      background-color: #fff;
    }
  }
  #body {
    background: white;
    margin: 0px 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    padding-bottom: 15px;
    border: 1px solid $email-header-bg;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
  }

  dl.dl-horizontal > dt {
    font-weight: bold;
  }

  // div.column {
  //   float: left;
  //   width: 50%;
  // }
  //
  // /* Clear floats after the columns */
  // div.row:after {
  //     content: "";
  //     display: table;
  //     clear: both;
  // }

  #footer {
    padding: 10px 30px 15px;

    .logo {
      border: 1px solid $email-header-bg;
      background-color: #fff;
    }
  }


  .alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 0px;
  }

  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-success hr {
    border-top-color: #a6e1ec;
  }

  .alert-link {
    color: #245269;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #23527c;
    text-decoration: underline;
  }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

}
