// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select2-container--bootstrap .select2-selection--single {
  height: 35px !important;
  line-height: 1 !important;
  padding: 8px 8px 0px 10px !important;
}

fieldset {
  border: 1px solid #ccc;
  height: 250px;
  max-height: 250px;
  overflow-y:auto;
  padding: 5px;
}

fieldset > p.header {
  background-color: #eaeef0;
  color: #333;
  padding-left: 5px;
  padding-top: 5px;
}
