.special-img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}
.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*
 * Navbar
 */
.navbar-top {
	margin-bottom: 0px;
	background-color: #428bca;
	border-color: #3174b0;
}
.navbar-top .navbar-brand {
	color: #ffffff;
}
.navbar-top .navbar-brand:hover, .navbar-top .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-top .navbar-text {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-top .navbar-nav > li > a:hover, .navbar-top .navbar-nav > li > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .active > a, .navbar-top .navbar-nav > .active > a:hover, .navbar-top .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-nav > .open > a, .navbar-top .navbar-nav > .open > a:hover, .navbar-top .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #3174b0;
}
.navbar-top .navbar-toggle {
	border-color: #3174b0;
}
.navbar-top .navbar-toggle:hover, .navbar-top .navbar-toggle:focus {
	background-color: #3174b0;
}
.navbar-top .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-top .navbar-collapse,
.navbar-top .navbar-form {
	border-color: #ffffff;
}
.navbar-top .navbar-link {
	color: #ffffff;
}
.navbar-top .navbar-link:hover {
	color: #ecf0f1;
}

@media (max-width: 767px) {
	.navbar-top .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-top .navbar-nav .open .dropdown-menu > .active > a, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
		background-color: #3174b0;
	}
}

// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }
//
// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }
//
// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px;
// }
//
// a {
//   color: #000;
//
//   &:visited {
//     color: #666;
//   }
//
//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }
//
// th {
//   padding-bottom: 5px;
// }
//
// td {
//   padding: 0 5px 7px;
// }
//
// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }
//
// #notice {
//   color: green;
// }
//
// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }
//
// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//
//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px -7px 0;
//     background-color: #c00;
//     color: #fff;
//   }
//
//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }
//
// label {
//   display: block;
// }
