<p>Olá <%= @resource.email %>!</p>

<p>Por motivos de segurança, sua conta foi bloqueada em razão de excessivas tentativas sem sucesso de efetuar login.

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
