<li class="list-group-item">
  <div class="btn-group btn-group-justified">
    <% if is_professor_discipline? @plan.user %>
      <!-- <div class="btn-group" role="group">
        <= @plan.decorate.link_index %>
      </div> -->
      <!-- <div class="btn-group" role="group">
        <= @plan.decorate.link_editar %>
      </div> -->
    <% end %>
    <div class="btn-group" role="group">
      <%= @plan.decorate.link_pdf %>
    </div>
  </div>
</li>

<hr>
