<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Parecer</h4>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Parecer descritivo</li>
        <li class="list-group-item" style="max-height: 320px; overflow-y: auto;"><%= "#{plano.parecer} " * 1000 %></li>
      </ul>
    </div>
    <div class="modal-footer">
      <div class="text-info text-left" role="alert">
        Responsável pelo parecer: <strong><%= plano.user_parecer.name %></strong>
        <button type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal" aria-label="Close">Fechar</button>
      </div>
      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    </div>
  </div>
</div>
