  <!-- <= form_for get_planos_aprovar_path, method: :get, html: {class: ''} do |f| %>
    <span class="badge">
      <= f.check_box :analise,
            id: :analise, class: 'form-check-input' %>
      <= label_tag :analise, 'Planos em análise' %>
    </span>

    <span class="badge">
      <= f.check_box :aprovado,
            id: :aprovado, class: 'form-check-input' %>
      <= label_tag :aprovado, 'Planos aprovados' %>
    </span>

    <span class="badge">
      <= f.check_box :reprovado,
            id: :reprovado, class: 'form-check-input' %>
      <= label_tag :reprovado, 'Planos reprovados' %>
    </span>

  <= submit_tag 'Pesquisar', class: 'btn btn-sm btn-primary' %>
< end %>

<hr> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Analisar planos</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <%= content_tag :table, id: 'plans_datatable', class: 'table table-striped table-bordered', data: { url: get_planos_aprovar_path(format: :json)} do %>
        <thead>
          <tr>
            <th>Curso</th>
            <th>Disciplina</th>
            <th>Turma</th>
            <th>Professor</th>
            <th>Oferta</th>
            <th>Parecer</th>
            <th>Versão</th>
            <th>Situação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody></tbody>
      <% end %>
    </div>

  </div>
</div>
