<%- model = Plan %>

<% if @plans.empty? %>

  <ul class="list-group">
    <li class="list-group-item">Disciplina: <strong><%= @disciplina.title %></strong></li>
    <li class="list-group-item list-group-item-danger">Nenhum plano de ensino encontrado/ofertado para esta disciplina</li>
    <li class="list-group-item list-group-item-info">
      list-group
    </li>
  </ul>

<% else %>

  <% @plans.each do |p| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= p.offer_discipline.grid_discipline.discipline.title %></h3>
        </div>
        <div class="panel-body">
          <p><%= p.inspect %></p>
        </div>
        <div class="panel-footer">
          <%= p.versao %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<!-- <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
      <= link_to new_plan_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      < end %>
      <= t '.title', :default => model.model_name.human.pluralize.titleize %>
    </h3>
    <div class="pull-right">

    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <= content_tag :table, id: "plans_datatable", class: 'table table-striped table-bordered', role: :datatable, data: { url: plans_path(format: :json)} do %>
        <thead>
          <tr>
            <th><= model.human_attribute_name(:offer_discipline) %></th>
            <th><= model.human_attribute_name(:plan_class) %></th>
            <th><= model.human_attribute_name(:obj_espe) %></th>
            <th><= model.human_attribute_name(:conteudo_prog) %></th>
            <th><= model.human_attribute_name(:prat_prof) %></th>
            <th><= model.human_attribute_name(:interdisc) %></th>
            <th><= model.human_attribute_name(:met_tec) %></th>
            <th><= model.human_attribute_name(:met_met) %></th>
            <th><= model.human_attribute_name(:avaliacao) %></th>
            <th><= model.human_attribute_name(:cronograma) %></th>
            <th><= model.human_attribute_name(:atendimento) %></th>
            <th><= model.human_attribute_name(:versao) %></th>
            <th><= model.human_attribute_name(:active) %></th>
            <th><= model.human_attribute_name(:user) %></th>
            <th><= t('helpers.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <= content_tag_for(:tr, @plans) do |plan| %>
            <td><= plan.offer_discipline %></td>
            <td><= plan.plan_class %></td>
            <td><= plan.obj_espe %></td>
            <td><= plan.conteudo_prog %></td>
            <td><= plan.prat_prof %></td>
            <td><= plan.interdisc %></td>
            <td><= plan.met_tec %></td>
            <td><= plan.met_met %></td>
            <td><= plan.avaliacao %></td>
            <td><= plan.cronograma %></td>
            <td><= plan.atendimento %></td>
            <td><= plan.versao %></td>
            <td><= plan.active %></td>
            <td><= plan.user %></td>
            <td><= plan.decorate.link_show %></td>
            <td><= plan.decorate.link_edit %></td>
            <td><= plan.decorate.link_destroy %></td>
          < end %>
        </tbody>
      < end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="">
      <= link_to new_plan_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <= t('.new', :default => t("helpers.titles.new", model: model.model_name.human.downcase )) %>
      < end %>
    </div>
    <div class="pull-right">

    </div>
  </div>
</div> -->
