<footer class="page-footer">
  <p class="text-muted text-uppercase pull-left"><%= ENV['SISTEMA_APELIDO'] %> - <%= ENV['SISTEMA_VERSAO'] %></p>
  <div class="container">
    <span class="text-muted text-uppercase">Copyright © 2017 INSTITUTO FEDERAL CATARINENSE - CAMPUS FRAIBURGO</span>
  </div>
</footer>
