<%# add navigation links to this file %>
<li><%= link_to t('helpers.links.pages.about'), page_path('about') %></li>
<li class="divider-vertical"></li>

<% if user_signed_in? %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Cursos', cursos_path if can? nil, Curso %></li>
  </ul>
</li>
<% end %>
